body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #dddddd;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2b2b2b;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #444;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header .back-button {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #1e1e1e;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #dddddd;
}

input[type="text"]::placeholder,
input[type="date"]::placeholder {
    color: #888;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.button {
	padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2b2b2b;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
}

.navbar .nav-link {
    color: #dddddd;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.navbar .nav-link:hover {
    color: #ffffff;
}
