
body .bottom_bar{
    z-index: 1;
}

.back_img{
    width: 17px;
    margin-top: auto;
    margin-bottom: auto;
}

.eagle_text{
    font-size: 14px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: auto;
    height: max-content;
    line-height: 17px;
    margin-left: 1px;
    color: gray;
}

.action_grid{
    cursor: pointer;
    margin-left: 10px;
    display: grid;
    grid-template-columns: max-content max-content;
}

.title_text{
    font-size: 18px;
    color: #3b3c41;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
}

.id_data_grid{
    position: absolute;
    top: 18px;
    left: 50%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: 70px;
}

.data_value{
    color: #52575f;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
}

.data_holder{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
}

.flag_video{
    position: absolute;
    top: 50.5%;
    left: 7.5%;
    width: 18.9%;
}

.eagle_text{
    position: absolute;
    top: 68.1%;
    left: 18%;
    width: 20%;
}

.eagle_video{
    position: absolute;
    top: 66.1%;
    left: 7.7%;
    width: 8.8%;
}

.data_title{
    font-weight: 600;
    font-size: 18px;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}

.id_image_data{
    position: relative;
}

.id_image{
    z-index: -1;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -1;
    pointer-events: none;
    box-shadow: var(--shadow);
    clip-path: inset(-10px -10px 0px -10px);
    border-radius: 15px 15px 0px 0px;
}

.other_grid{
    margin-top: 10px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.bottom_text{
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 17px;
}

.bottom_grid{
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    height: 100%;
    width: max-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: auto;
}

.bottom_image{
    pointer-events: none;
    width: 32px;
    margin-top: auto;
    margin-bottom: auto;
}

.inset{
    box-shadow: inset 0px 0px 20px white;
    background-color: transparent;
    position: absolute;
    top: 5%;
    left: 7.5%;
    width: 35%;
    border-radius: 15px;
    height: 42%;
    z-index: 1;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.id_own_image{
    pointer-events: none;
    filter: grayscale(1);
    box-shadow: 0px 0px 5px white;
    position: absolute;
    top: 5%;
    left: 7.5%;
    width: 35%;
    border-radius: 15px;
    height: 42%;
    background-color: white;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

.bottom_update{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100%;
}

.bottom_update_grid{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
    height: max-content;
}

.bottom_update_text{
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    color: #52575f;
    font-size: 16px;
    font-weight: 500;
}

.bottom_update_value{
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    color: #1f2125;
    font-weight: 600;
    font-size: 18px;
}

.action_arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 20px;
    order: 100;
    margin-top: auto;
    margin-bottom: auto;
    transition: 200ms;
}

.id_bottom{
    box-shadow: var(--shadow);
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    height: 80px;
    z-index: 1;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.back_text{
    color: #014A93;
    font-weight: 500;
    font-size: 18px;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}

.help_img{
    width: 30px;
    margin-right: 10px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.top_grid{
    z-index: 1;
    background-color: #f5f6fb;
    position: fixed;
    top: -10px;
    height: 60px;
    left: 0;
    width: 100%;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, calc(100% / 3));
}

.time_text{
    margin-top: 60px;
    margin-bottom: 20px;
    color: #666b72;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bottom_holder{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: 200ms; 
}

.info_holder .bottom_grid{
    height: 70px;
}

.info_holder{
    height: unset;
    transition: 200ms;
    max-height: 70px;
}

.additional_holder{
    height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
}

.info_holder .action_arrow{
    rotate: 90deg;
    top: 27px;
    bottom: auto;
}

.unfolded{
    height: unset;
    max-height: 800px;
}

.unfolded .action_arrow{
    rotate: 270deg;
}

.additional_title{
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
}

.additional_subtitle{
    font-size: 17px;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 17px;
    height: max-content;
}

.additional_grid{
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.1px solid rgb(146, 146, 146);
    margin-top: 5px;
    margin-bottom: 10px;
}

.confirm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    width: 0%;
}

.opacity{
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 400ms;
}

.page{
    transition: 400ms;
    height: 90%;
    position: fixed;
    bottom: 0;
    bottom: -2000px;
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 30px 30px 0 0;
}

.confirm_close{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--text);
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--text);
    font-weight: 400;
}

.confirm_title{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    font-size: 17px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 40px;
}

.card{
    background-size: 100%;
    width: 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20px;
}

.card_inner{
    width: 85%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.confirm_name{
    width: max-content;
    font-size: 25px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
}

.confirm_description{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.confirm_button{
    background-color: var(--text);
    border-radius: 25px;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.card_1{
    background-image: url('https://i.imgur.com/07ktkye.png');
}

.card_2{
    background-image: url('https://i.imgur.com/uowv4a7.png');
}

.page_other .confirm_title{
    margin-left: 0;
    margin-right: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.confirm_info{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    border: 0.5px solid rgb(194, 193, 193);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
}

.confirm_box{
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgb(194, 193, 193);
}

.confirm_back{
    text-align: center;
    color: var(--text);
}

.box_top{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: auto;
    height: max-content;
}

.confirm_box .main_button{
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
}

.box_value{
    font-size: 17px;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: 10px;
    height: max-content;
}

.box_highlight{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.page_open{
    width: 100%;
}

.page_open .opacity{
    opacity: 0.5;
}

.page_1_open .page_1{
    bottom: 0;
}

.page_2_open .page_2{
    bottom: 0;
}

.page_3_open .page_3{
    bottom: 0;
}
