
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../dowod_files/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, maximum-scale=1.0">
    <meta name="theme-color" content="#f2f4fa">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="../../images/apple.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&amp;display=swap" rel="stylesheet">
    <title>mObywatel</title>
    <link rel="stylesheet" href="../../other/qr.css">
    <link rel="manifest" href="../../manifest.json">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<style>
	  body {
		font-family: 'Inter', sans-serif;
	  }
	</style>

  </head>
  <body>
    <div id="root">
      <div class="relative h-screen max-w-md mx-auto overflow-hidden bg-white">
        <div class="relative h-full pb-16 overflow-hidden slide-forward-enter-done">
          <div class="flex flex-col w-full h-full bg-[#f3f4fb]" style="opacity: 1;">
            <header class="sticky top-0 z-10 flex items-center justify-center px-4 py-4 bg-[#f3f4fb] shadow-sm relative">
              <a class="flex items-center gap-1 text-[#03418a] font-medium cursor-pointer select-none absolute left-4 top-1/2 transform -translate-y-1/2" href="qr.html">
                <img src="../../images/qr1.png" alt="Wróć" class="w-5 h-5 -ml-3">
                <span class="text-base md:text-lg">Kod QR</span>
              </a>
              <h1 class="text-base md:text-lg font-medium text-gray-900">Kod QR</h1>
            </header>
            <div class="relative h-screen overflow-hidden bg-[#f3f4fb]">
              <div class="h-[calc(100vh-80px)] overflow-y-auto w-full pb-20">
                <div class="flex flex-col items-center justify-start w-full p-6  max-w-md mx-auto" style="opacity: 1;">
                  <h2 class="text-black text-xl font-semibold mb-4 text-center">Pokaż kod QR osobie, której sprawdzasz dokument</h2>
                  <p class="text-[15px] text-gray-500 font-medium  mt-2 mb-7 text-center">Gdy ta osoba przepisze lub zeskanuje kod, <br>zobaczysz jej dane na swoim telefonie </p>
                  <div class="bg-white min-h-[500px] p-6 rounded-2xl shadow-lg w-full flex flex-col justify-center items-center text-center">
                    <div id="qr-container">
					  <img id="qr-image" src="" alt="QR Code">
					  <div id="qr-code-text" class="text-[50px] font-medium mt-4">------</div>
					</div>
                    <div class="w-[90%] bg-gray-200 h-1 mt-4 rounded overflow-hidden">
					  <div class="h-full bg-[#03418a] transition-all duration-1000 progress-bar" style="width: 100.0%;"></div>
					</div>
					<div class="mt-5 text-black-900 font-bold text-[15px]" id="timer-text">Kod wygaśnie za: 3 min 0 sek.</div>

                  </div>
                  <div class="bg-white p-4 rounded-2xl shadow-md w-full mt-6 flex justify-center gap-32">
                    <img src="../../images/qr2.png" alt="Left" class="w-12 h-12 object-cover">
                    <img src="../../dowod_files/godlo.gif" alt="Right" class="w-12 h-12 object-cover" style="width: 35px; height: auto; margin-right: px;">
                  </div>
                </div>
              </div>
            </div>
            <nav class="fixed bottom-1 py-1 left-0 right-0 bg-[#f5f6fb] border-t border-gray-200 z-50">
              <div class="flex items-center justify-around max-w-md mx-auto py-2">
                <a class="flex flex-col items-center justify-center flex-1" href="dashboard.html">
                  <div class="-translate-y-2 flex flex-col items-center">
                    <img src="../../images/ab001_home.svg" alt="Pulpit" class="w-6 h-6 transition duration-200">
                    <span class="text-xs mt-1 text-gray-500">Pulpit</span>
                  </div>
                </a>
                <a class="flex flex-col items-center justify-center flex-1" href="documents.html">
                  <div class="-translate-y-2 flex flex-col items-center">
                    <img src="../../images/ad005_framed_person.svg" alt="Dokumenty" class="w-6 h-6 transition duration-200">
                    <span class="text-xs mt-1 text-gray-500">Dokumenty</span>
                  </div>
                </a>
                <a class="flex flex-col items-center justify-center flex-1" href="services.html">
                  <div class="-translate-y-2 flex flex-col items-center">
                    <img src="../../images/ac001_services.svg" alt="Usługi" class="w-6 h-6 transition duration-200">
                    <span class="text-xs mt-1 text-gray-500">Usługi</span>
                  </div>
                </a>
                <a class="flex flex-col items-center justify-center flex-1" href="qr.html">
                  <div class="-translate-y-2 flex flex-col items-center">
                    <img src="../../images/b003_scanner_qr.svg" alt="Kod QR" class="w-6 h-6 transition duration-200">
                    <span class="text-xs mt-1 text-gray-500">Kod QR</span>
                  </div>
                </a>
                <a class="flex flex-col items-center justify-center flex-1" href="more.html">
                  <div class="-translate-y-2 flex flex-col items-center">
                    <img src="../../images/ab010_more.svg" alt="Więcej" class="w-6 h-6 transition duration-200">
                    <span class="text-xs mt-1 text-gray-500">Więcej</span>
                  </div>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
	<script src="../../other/qr.js"></script>
  </body>
</html>